
<div style="width:90%; background-color:#FFFFFF; margin:50 auto; align-content: center;">
        <h1 style="text-align:center; background-color:#ecf0f1, color: powderblue; ">Analysis of the algorithm: From kernels to backup genes.</h1>

        <h2 style="text-align:center; background-color:#ecf0f1, color: powderblue;"> Kernelization section </h2>

        <p> The algorithm transformed the semantic similarity matrix to make it compatible with a kernel. Once this was done for each network and kernel type, it was integrated by kernel type. Below there is a general analysis of the properties of each matrix in the different phases of the process. </p>

        <h3 style="text-align:center; background-color:#ecf0f1, color: powderblue;"> Annotations properties </h3>

        <div style="overflow: hidden";>
                <p style="text-align:center;"><b>Table 1.</b> Annotation files descriptors </p> 
                <%= 
                table(id: "parsed_non_integrated_rank_metrics", text: true, header: true, 
                        fields: [1,2,3,5,4,6,7],
                        cell_align: ['left', 'center', 'center', 'center','center','center','center'],
                        border: 2,
                        attrib: {
                                'style' => 'margin-left: auto; margin-right:auto;',
                                'cellspacing' => 0,
                                'cellpadding' => 2
                        }) do |data|
                end
                %>
        </div>

        <h3 style="text-align:center; background-color:#ecf0f1, color: powderblue;"> Matrix properties </h3>

        <div style="overflow: hidden";>
                <p style="text-align:center;"><b>Table 2.</b> Similarity matrixes </p> 
                <%= 
                table(id: "parsed_integrated_rank_metrics", text: true, header: true, 
                        fields: [1,2,3,5,4,6,7],
                        cell_align: ['left', 'center', 'center', 'center','center','center','center'],
                        border: 2,
                        attrib: {
                                'style' => 'margin-left: auto; margin-right:auto;',
                                'cellspacing' => 0,
                                'cellpadding' => 2
                        }) do |data|
                end
                %>
        </div>

        <h3 style="text-align:center; background-color:#ecf0f1, color: powderblue;"> Weight values </h3>

        <div style="overflow: hidden">

                <%= line(id: "parsed_non_integrated_rank_metrics", fields: [0, 8, 9, 10], header: true, row_names: true,
                        responsive: false,
                        height: '400px', width: '400px', x_label: 'Weight',
                        title: "Weight's similarity values",
                        config: {
                                'showLegend' => true,
                                'graphOrientation' => 'vertical',
                                })
                %>

                <%= line(id: "parsed_integrated_rank_metrics", fields: [0, 8, 9, 10], header: true, row_names: true,
                        responsive: false,
                        height: '400px', width: '400px', x_label: 'Weight',
                        title: "Weight's kernelized values before integration",
                        config: {
                                'showLegend' => true,
                                'graphOrientation' => 'vertical',
                                })
                %>

        </div>

</div>


















